<!DOCTYPE html>
<html lang="en" data-ng-app="fetch">
<head>
    <meta charset="UTF-8">
    <title>Separatism</title>
    <link type="text/css" rel="stylesheet"
              href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet"
              href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <link rel="stylesheet" href="Stylesheet.css">

</head>
<body>
<br>
<div class="row">
    <div class="container">
        <h1>Games</h1>

        <div data-ng-controller="dbCtrl">
            <span class="label">Ordered By: {{orderByField}}, Reverse Sort: {{reverseSort}}</span><br><br>
            <input type="text" name="search" data-ng-model="searchFilter" data-ng-hide="checked" class="form-control">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th><a name="orderName" href="#" ng-click="orderByField='name'; reverseSort = !reverseSort">
                        Name <span ng-show="orderByField == 'name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                    </a></th>
                    <th>Link</th>
                    <th>Image</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="games in data | filter:searchFilter |orderBy:orderByField:reverseSort">
                    <td>{{games.Game_name}}</td>
                    <td><a name="link{{games.Game_id}}" href={{games.Game_link}}>{{games.Game_link}}</a></td>
                    <td><img src={{games.Game_img}}></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

<script>
    var fetch = angular.module('fetch', []);

    fetch.controller('dbCtrl', ['$scope', '$http', function ($scope, $http) {
        $http.get("connect.php")
                .success(function(data){
                    $scope.data = data;
                })
                .error(function() {
                    $scope.data = "error in fetching data";
                });
    }]);

</script>

</html>